  .container-blog {
    width: 100vw;
    min-height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    background-image: url(../assets/backgrounds/back_gray.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}