@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;300;400;500;700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:wght@300;400;600;700&family=Titillium+Web:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  // color: white;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
picture {
  display: block;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
