header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
    .lead {
      margin-top: 0;

    text-decoration: none;
    h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-left: 58vw;
    text-decoration: none;
      }
      .title {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        font-weight: bold;
      }
    }
    nav {
      margin: 0;
      padding: 0rem;
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: rgba(179, 179, 54, 0.7);
        min-width: 20vw;
        border-radius: 5px;

      }
        li {
          display: flex;
          margin-left: 1vw;
          .links {
              color:rgba(255, 255, 255, 1);
              padding: 0.5rem 1rem;
              text-decoration: none;
              font-family: 'Open Sans Condensed', sans-serif;
              font-weight: bold;
              font-size: 1.25rem;
          }
        }
    }
}

